.sidebar {
	height: calc(100dvh - var(--bs-header-height));

	width: 280px;
	flex-shrink: 0;
	background: var(--bs-body-bg);
	border-right: 1px solid var(--bs-content-separator);
	padding-top: 0.5rem;

	position: sticky;
	top: var(--bs-header-height);

	&--offcanvas {
		height: auto;
		border-right: none;
		position: static;
	}

	&__section {
		margin-bottom: 0.35rem;
	}

	&__section-title {
		text-transform: uppercase;
		color: var(--bs-secondary-color);
		letter-spacing: 0.04em;
		padding: 0.35rem 1rem;
	}

	&__link {
		position: relative;
		display: flex;
		align-items: center;
		column-gap: 8px;

		padding: 0.35rem 1rem 0.35rem 2rem;

		color: var(--bs-body-color);
		text-decoration: none;

		transition:
			background-color 0.15s ease,
			color 0.15s ease;

		&:hover:not(&--active) {
			text-decoration: none;
			background-color: var(--sidebar-link-hover-bg);
		}

		&--active {
			background-color: var(--sidebar-link-active-bg);
			color: var(--sidebar-link-active-color);
			font-weight: 400;
		}

		&--disabled {
			color: var(--bs-gray-500);
			pointer-events: none;
		}
	}

	&__label {
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
}
