body {
	overflow-y: scroll;
}

.table-sticky-header {
	thead {
		position: sticky;
		top: -1px;
	}

	thead {
		box-shadow: 0px 1px 0px var(--bs-table-border-color);
	}

	th {
		background-color: var(--bs-tertiary-bg);
	}
}

.table-sort-btn {
	cursor: pointer;
	user-select: none;
}
