// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "bootstrap/scss/functions";

// 2. Include any default variable overrides here
$info:      #0aa7c7;

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

// 6. Optionally include any other parts as needed
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/button-group";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/card";
@import "bootstrap/scss/accordion";
@import "bootstrap/scss/breadcrumb";
@import "bootstrap/scss/pagination";
@import "bootstrap/scss/badge";
@import "bootstrap/scss/alert";
@import "bootstrap/scss/progress";
@import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
@import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal";
@import "bootstrap/scss/tooltip";
@import "bootstrap/scss/popover";
@import "bootstrap/scss/carousel";
@import "bootstrap/scss/spinners";
@import "bootstrap/scss/offcanvas";
@import "bootstrap/scss/placeholders";
@import "bootstrap/scss/helpers";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "bootstrap/scss/utilities/api";

// 8. Add additional custom code here

body {
	overflow-y: scroll;
}

.form-check {
	user-select: none;
}

.table-sticky-header {
	thead tr {
		position: sticky;
		top: calc(var(--bs-header-height) - 1px);
		background-color: var(--bs-tertiary-bg);
		z-index: 3;
		box-shadow: 0 1px 0 var(--bs-table-border-color);
	}
	thead th {
		background-color: var(--bs-tertiary-bg);
	}
}

.table-sort-btn {
	cursor: pointer;
	user-select: none;
}

.cursor-pointer {
	cursor: pointer;
}

:root {
	--bs-header-height: 47px;
}

/* Light theme fixes */
@include color-mode(light) {
	--bs-content-separator: #dfe0df;

	--sidebar-link-active-bg: #e9f2fe;
	--sidebar-link-active-color: #1868db;

	--sidebar-link-hover-bg: #f0f1f2;

	.dropdown-menu {
		--bs-dropdown-link-hover-bg: #e9ecef;
	}
}

/* Dark theme fixes */
@include color-mode(dark) {
	--bs-body-bg: #1f1f21;
	--bs-tertiary-bg: #303134;
	--bs-content-separator: #38393c;

	--sidebar-link-active-bg: #1c2b42;
	--sidebar-link-active-color: #669df1;

	--sidebar-link-hover-bg: #242528;

	table {
		--bs-table-border-color: #4b4d51;
	}

	/* Fix text colors */
	--bs-primary: #6da7fe;
	--bs-danger-rgb: 224, 82, 96;
	--bs-primary-rgb: 109, 167, 254;
	--bs-info-rgb: 11, 171, 203;
	--bs-success-rgb: 32, 172, 107;
	--bs-secondary-rgb: 140, 148, 155;

	/* Fix table rows */
	.table-danger {
		--bs-table-color: var(--bs-body-color);
		--bs-table-bg: var(--bs-danger-bg-subtle);
		--bs-table-border-color: var(--bs-danger-border-subtle);
		--bs-table-striped-bg: #25090b;
		--bs-table-striped-color: var(--bs-body-color);
		--bs-table-active-bg: #411014;
		--bs-table-active-color: var(--bs-body-color);
		--bs-table-hover-bg: #411014;
		--bs-table-hover-color: var(--bs-body-color);
		color: var(--bs-table-color);
		border-color: rgba(255, 255, 255, 0.2);
	}

	.table-warning {
		--bs-table-color: var(--bs-body-color);
		--bs-table-bg: var(--bs-warning-bg-subtle);
		--bs-table-border-color: var(--bs-warning-border-subtle);
		--bs-table-striped-bg: #2d2301;
		--bs-table-striped-color: var(--bs-body-color);
		--bs-table-active-bg: #413201;
		--bs-table-active-color: var(--bs-body-color);
		--bs-table-hover-bg: #413201;
		--bs-table-hover-color: var(--bs-body-color);
		color: var(--bs-table-color);
		border-color: rgba(255, 255, 255, 0.2);
	}

	.table-info {
		--bs-table-color: var(--bs-body-color);
		--bs-table-bg: var(--bs-info-bg-subtle);
		--bs-table-border-color: var(--bs-info-border-subtle);
		--bs-table-striped-bg: #03242b;
		--bs-table-striped-color: var(--bs-body-color);
		--bs-table-active-bg: #05343e;
		--bs-table-active-color: var(--bs-body-color);
		--bs-table-hover-bg: #05343e;
		--bs-table-hover-color: var(--bs-body-color);
		color: var(--bs-table-color);
		border-color: rgba(255, 255, 255, 0.2);
	}

	.table-success {
		--bs-table-color: var(--bs-body-color);
		--bs-table-bg: var(--bs-success-bg-subtle);
		--bs-table-border-color: var(--bs-success-border-subtle);
		--bs-table-striped-bg: #04160e;
		--bs-table-striped-color: var(--bs-body-color);
		--bs-table-active-bg: #072719;
		--bs-table-active-color: var(--bs-body-color);
		--bs-table-hover-bg: #072719;
		--bs-table-hover-color: var(--bs-body-color);
		color: var(--bs-table-color);
		border-color: rgba(255, 255, 255, 0.2);
	}

	/* Fix outline buttons */
	.btn-outline-primary {
		--bs-btn-color: rgb(var(--bs-primary-rgb));
		--bs-btn-border-color: rgb(var(--bs-primary-rgb));
	}

	.btn-outline-secondary {
		--bs-btn-color: rgb(var(--bs-secondary-rgb));
		--bs-btn-border-color: rgb(var(--bs-secondary-rgb));
	}

	.btn-outline-success {
		--bs-btn-color: rgb(var(--bs-success-rgb));
		--bs-btn-border-color: rgb(var(--bs-success-rgb));
	}

	.btn-outline-info {
		--bs-btn-color: rgb(var(--bs-info-rgb));
		--bs-btn-border-color: rgb(var(--bs-info-rgb));
	}

	.btn-outline-danger {
		--bs-btn-color: rgb(var(--bs-danger-rgb));
		--bs-btn-border-color: rgb(var(--bs-danger-rgb));
	}

	.btn-outline-warning {
		--bs-btn-color: rgb(var(--bs-warning-rgb));
		--bs-btn-border-color: rgb(var(--bs-warning-rgb));
	}

	/* Fix bg colors */
	.bg-success {
		--bs-success-rgb: 23, 125, 77;
	}

	.bg-info {
		--bs-info-rgb: 8, 131, 150;
	}

	.bg-danger {
		--bs-danger-rgb: 157, 67, 76;
	}
}

svg {
	width: 1em;
	height: 1em;
	fill: currentColor;
}

@import "bootstrap-icons/font/bootstrap-icons.css";
